/* main.css */

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

html {
    scroll-behavior: smooth;
    font-family: Inter, Helvetica, Lucida Sans, Arial, sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
    display: block;
    min-width: 900;
    background-color: #0A0A0A;
    color: #BBB;
    letter-spacing: 0.2;
}

div {
    width: 900;
    display: block;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

#info {
    margin-top: 96;
}

#info>span {
    color: white;
    display: block;
    text-align: justify;
    font-size: 32;
    line-height: 1.15;
    font-weight: bold;
}

ul {
    width: 90%;
    display: inline-block;
    margin-top: 16;
    padding: 0;
}

li {
    display: block;
    font-size: 22px;
    text-align: justify;
    list-style: none;
    line-height: 2;
    margin-top: 8;
}

a {
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}

#console-mimic {
    margin-top: 64;
    color: white;
    font-family: Ubuntu Mono, monospace;
    font-size: 28;
    display: inline-block;
    background-color: #2D0922;
    padding: 16;
    padding-top: 24;
    padding-bottom: 24;
    width: 525;
    line-height: 1.45;
    letter-spacing: .05em;
}

#console-uname {
    font-weight: 900;
    color: #88DC33;
}

#console-approx {
    font-weight: 900;
    color: #8EC5FF;
}

#console-input {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

.typing {
    border-right: .41em solid white; /* The typwriter cursor */
}

.typing-animation {
    animation: typing 1.5s steps(1, end), blink-caret .75s step-end infinite;
}

#switcher {
    /* font-family: VT323, 'Courier New', Courier, monospace; */
    /* font-size: 32; */
    /* letter-spacing: 2; */
    /* color: white; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

#contact {
    display: inline-block;
    font-size: 26;
    margin-top: 64;
}

.list-title {
    display: block;
    font-size: 24px;
    margin-top: 64;
    font-weight: bold;
}

#interests {
    margin-top: 16;
}

#interests>span {
    display: inline-block;
    color: #AAA;
    padding-left: 28;
    padding-right: 28;
    padding-top: 16;
    padding-bottom: 16;
    border-radius: 28px;
    border: 1px solid #444;
    font-size: 18px;
    margin-right: 8;
    margin-top: 16;
}

#interests>span:hover {
    border: 1px solid #888;
    color: white;
}

#links {
    margin-top: 32;
    margin-bottom: 64;
}

#copyright {
    margin-top: 64;
    margin-bottom: 64;
    font-size: 12px;
    color: #444;
}

#copyright>span:hover {
    color: #AAA;
}
